<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Details | Parking Spot</title>
    </head>
    <body>
        <h1>Occupied Parking Spot Details</h1>
        <table border="1" cellpadding="5" cellspacing="0">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{reservation.spot_id}}</td>
                </tr>
                <tr>
                    <th>Customer ID</th>
                    <td>{{reservation.user_id}}</td>
                </tr>
                <tr>
                    <th>Vehicle Number</th>
                    <td>{{reservation.vehicle_num}}</td>
                </tr>
                <tr>
                    <th>Parking Time</th>
                    <td>{{reservation.parking_time}}</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div>
            <a href="/admin/dashboard"><button type="button">Close</button></a>
        </div>
    </body>
</html>